services:
  app:
    build: .
    container_name: secure-blink
    ports:
      - "8000:8000"
    env_file:
    - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: secure-blink-redis
    command: ["redis-server", "--appendonly", "no"]
    ports:
      - "6379:6379"
